*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #00BFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	background: #00FFFF;
	width: 400px;
	min-width: 300px;
	border-radius: 10px;
	margin: 10px;
}

.container img{
	width: 150px;
	display: block;
	margin: 20px auto;
}

.container h1{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	font-family: sans-serif;
	margin-bottom: 25px;
	color: #00BFFF;
}

.container input{
	display: block;
	margin: auto;
	height: 40px;
	width: 75%;
	padding-left: 10px;
	color: #00BFFF;
	border: 1px solid #fff;
	font-family: sans-serif;
	font-size: 1rem;
	background: transparent;
	outline: none;
	border-radius: 2px;
}

.container input[type=password]{
	margin-top: 20px;
}

::placeholder{
	font-size: 1rem;
	font-family: sans-serif;
	color: rgba(255, 255, 255, .965);
}

.container input:hover{
	transition: .2s;
	border: 2px solid #00BFFF;
}

.container button{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 40px;
	width: 78%;
	color: #fff;
	font-size: 1rem;
	background: transparent;
	outline: none;
	border: 1px solid #00BFFF;
	border-radius: 2px;
	cursor: pointer;
	transition: all .2s ease;
}

.container button:hover{
	border: 2px solid #00BFFF;
	color: #00BFFF;
	box-shadow: 0 2px 1px #00BFFF;
}

.container a{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #FFF;
}